html,
body,
#root {
  height: 100%;
  width: 100%;
}

#root {
  margin: 5px;
}

.header_select_box > * > *:first-child {
  padding: 4px !important;
  height: 24px !important;
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}